<%- include('partials/header') %>
<ul class="type-list reset-list row">
    <% for(const region of regionList) { %>
    <li class="p-2 col-lg-3">
        <a href="/region/<%=region.id%>" class="p-3" style="background-color: #<%=region.color%>">
            <%=region.name%>
        </a>
    </li>
    <% } %>
</ul>
<%- include('partials/footer') %>